html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-body {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  background-color: #fff;
}