/* Limpieza total de los márgenes nativos del navegador */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f3f4f6;
}

.app-viewport {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Fuerza al sistema a ocupar exactamente el alto del monitor */
  overflow: hidden;
}

.app-body {
  display: flex;
  flex: 1; /* Distribuye el espacio restante debajo del Header */
  overflow: hidden;
}




/* --- Nueva columna derecha para organizar el espacio de trabajo --- */
.app-content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto; /* Permite scroll si el formulario o la tabla son muy largos */
}

.app-main-content {
  flex: 1;
}